.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

.default-content-wrapper h1 {
    font-size: var(--heading-font-size-xl);
    line-height: var(--line-height-xl);
    color: var(--text-color);
    margin: 0 0px 20px;
    font-family: 'Klavika Medium';
	text-align: center;
}

.section .default-content-wrapper > p {
	margin: 0 55px 13px;
	text-align: center;
}

p.button-container {
    width: 45%;
	margin: 20px 20px !important;
    display: inline-block;
}

@media (min-width: 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}
