body.disable-scroll {
  overflow: hidden;
}
.isi-content {
  --isi-expanded-height: 75vh;
  --isi-collapsed-height: 20vh;
  --isi-content-max-width: 1200px;
  --isi-content-horizontal-padding: 32px;
  --isi-content-horizontal-padding-mobile: 16px;
  --isi-content-horizontal-padding-current: var(--isi-content-horizontal-padding);
  --isi-collapsed-height-current: var(--isi-collapsed-height);
  padding: 0 var(--isi-content-horizontal-padding-current);
  position: relative;
  min-height: 1px;
}
.isi-content.is-pinned .isi-block-container {
  position: fixed;
  padding: 0 var(--isi-content-horizontal-padding-current);
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  background-color: #fbfbfb;
  max-height: var(--isi-collapsed-height-current);
  transition: max-height 0.3s;
  z-index: 100;
}
.isi-container.section, .isi-container .section {
  padding: 0;
}
.isi-container.section .isi-wrapper {
  max-width: unset;
}
.isi-content:not(.is-pinned) {
  margin-bottom: 0 !important;
}
.isi-content:not(.is-pinned) .isi-block-container {
  height: auto !important;
}
.isi-content.is-expanded .isi-block-container {
  max-height: var(--isi-expanded-height);
}
.isi-content.is-expanded .isi-content-container {
  overflow-y: auto;
  margin: 10px auto;
}
.isi-content .isi-header-container {
  margin: 0 calc(var(--isi-content-horizontal-padding-current) * (-1));
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #777;
}
.isi-content .isi-header,
.isi-content .isi-content {
  max-width: var(--isi-content-max-width);
  margin: auto;
}
.isi-content.is-expanded .isi-content {
  padding-right: 10px;
  box-sizing: border-box;
}
.isi-content .isi-header {
  font: 600 21px var(--body-font-family);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--isi-content-horizontal-padding-current);
}
.isi-content .isi-header button {
  margin: 0 0 0 20px;
  padding: 0;
  flex: none;
  color: inherit;
  position: relative;
  overflow: visible;
  background: transparent;
  outline: none;
}
.isi-content:not(.is-pinned) .isi-header button {
  visibility: hidden;
}
.isi-content .isi-header button .expand-text,
.isi-content .isi-header button .collapse-text {
  font: 300 14px/20px var(--body-font-family);
  right: 30px;
  position: absolute;
  display: none;
}
.isi-content:not(.is-expanded) .isi-header button:hover .expand-text,
.isi-content.is-expanded .isi-header button:hover .collapse-text {
  display: flex;
}
.isi-content .isi-header button span.icon {
  transition: transform 0.3s;
  width: 20px;
  height: 20px;
}
.isi-content:not(.is-expanded) .isi-header button span.icon {
  transform: rotate(0.5turn);
}
.isi-content.is-expanded .isi-header button {
  transform: translate(5px);
}
.isi-content .isi-header button svg {
  fill: white;
}
.isi-content ::-webkit-scrollbar {
  width: 8px;
}
.isi-content ::-webkit-scrollbar-track {
  background: #efefef;
  border-radius: 5px;
}
.isi-content ::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 5px;
}
.isi-content .isi-intersection-test {
  height: 5px;
  width: 1px;
  position: absolute;
  top: var(--isi-collapsed-height-current);
}
@media (max-width: 600px) {
  .isi-content {
    --isi-content-horizontal-padding-current: var(--isi-content-horizontal-padding-mobile);
  }
  .isi-content .isi-header button:hover .expand-text,
  .isi-content .isi-header button:hover .collapse-text {
    display: none !important;
  }
}
/* Content styles */
/* stylelint-disable no-descending-specificity */
.isi-content .isi-content {
  font-size: 95%;
}
.isi-content .isi-content h4 {
  padding: 0;
  margin: 20px 0 10px;
  font-size: 24px;
}
.isi-content .isi-content ul {
  margin: 0;
  padding-left: 25px;
}