footer {
  padding: 2rem;
  background-color: var(--overlay-background-color);
  font-size: var(--body-font-size-xxs);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  line-height: 19px;
}

footer a:any-link {
    color: var(--text-color);
    text-decoration: underline;
}
.footer-gradient {
    height: 8px;
    background-image: linear-gradient(to right, #e90649 0%, #740324 100%);
}